Repository The-Powder-Toy/The-Powder-Toy, pull requests merged in 2020-07, with the labels that each got.

#704 Introduce element 187, SLCN.
  src/simulation/ElementNumbers.h
  src/simulation/elements/FIRE.cpp
  src/simulation/elements/SLCN.cpp
Labels: New element

#705 Add a reaction to produce BCOL
  src/simulation/elements/WOOD.cpp
Labels: New reaction

#711 Add PTNM (Platinum)
  src/simulation/ElementNumbers.h
  src/simulation/elements/PTNM.cpp
Labels: New element

#712 Customize BRAY collision life (https://tpt.io/.311987)
  src/simulation/elements/ARAY.cpp
Labels: New feature
